---
import { Category } from "@/types/category";
import { Product } from "@/types/product";
import { Button } from "@workspace/ui/components/button";
import { Plus } from "lucide-react";

type Props = { product: Product & { category: Category } };
const { product } = Astro.props;
---

<div
  class="flex flex-wrap rounded-xl border border-background p-3 bg-white hover:bg-primary-slate hover:border hover:border-yellow-500 transition-all duration-300"
>
  <div class="basis-4/12 lg:basis-3/12">
    <img
      src={product.image}
      class="w-full object-cover rounded-xl aspect-square sm:aspect-auto"
      alt="icon"
    />
  </div>
  <div
    class="flex flex-col justify-between gap-4 ps-4 basis-8/12 lg:basis-9/12"
  >
    <a href="/details">
      <div class="flex flex-col gap-1 w-full">
        <p class="text-yellow-500 font-medium text-xs">
          {product.category.name}
        </p>
        <h3 class="text-accent-foreground font-medium text-sm">
          {product.name}
        </h3>
        <p class="text-muted-foreground font-medium text-[10px]">
          {product.description}
        </p>
      </div>
    </a>
    <div class="flex items-center justify-between">
      <p class="text-destructive font-semibold text-sm">
        Rp {product.price}
      </p>
      <Button
        type="button"
        className="flex items-center justify-center rounded-full"
        aria-label="Add to cart"
        variant="primary"
        size="sm"
      >
        <Plus className="size-4" />
        Add to cart
      </Button>
    </div>
  </div>
</div>
