---
import { formatCurrency } from "@/utils/format-currency";
import type { ProductWithCategories } from "@/views/product/types/product";
import { Button } from "@workspace/ui/components/button";
import { Plus, Soup } from "lucide-react";

type Props = { product: ProductWithCategories; storeSlug?: string };
const { product, storeSlug } = Astro.props;
---

<div
  class="flex flex-wrap rounded-xl border border-background p-3 bg-white hover:bg-primary/20 hover:border hover:border-primary transition-all duration-300"
>
  <div class="basis-4/12 lg:basis-3/12">
    {
      product.image ? (
        <img
          src={product.image}
          class="w-full object-cover rounded-xl aspect-square sm:aspect-auto"
          alt="icon"
        />
      ) : (
        <div class="flex items-center justify-center h-full w-full bg-accent rounded-xl">
          <Soup size={52} className="stroke-primary" />
        </div>
      )
    }
  </div>
  <div
    class="flex flex-col justify-between gap-4 ps-4 basis-8/12 lg:basis-9/12"
  >
    <a
      href={storeSlug
        ? `${storeSlug}/products/${product.slug}`
        : `/products/${product.slug}`}
    >
      <div class="flex flex-col gap-1 w-full">
        <div>
          {
            product.categories &&
              product.categories.length &&
              product.categories.map((category) => (
                <p class="text-primary font-medium text-xs w-fit">
                  {category.name}
                </p>
              ))
          }
        </div>
        <h3 class="text-accent-foreground font-medium text-sm line-clamp-1">
          {product.name}
        </h3>
        <p class="text-muted-foreground font-medium text-[10px] line-clamp-2">
          {product.description}
        </p>
      </div>
    </a>
    <div class="flex items-center justify-between">
      <p class="text-destructive font-semibold text-sm">
        {formatCurrency(product.price)}
      </p>
      <Button
        type="button"
        className="flex items-center justify-center rounded-full"
        aria-label="Add to cart"
        variant="primary"
        size="sm"
      >
        <Plus className="size-4" />
        Add to cart
      </Button>
    </div>
  </div>
</div>
