---
import { Bell, Search } from "lucide-react";

import BlankLayout from "@/layouts/blank-layout.astro";

import Container from "@/components/astro/container.astro";
import Section from "@/components/astro/section.astro";
import NavigationBottom from "@/components/astro/navigation-bottom.astro";

import { CategoryCarousel } from "@/views/category/components/react/category-carousel";
import { ProductCarousel } from "@/views/product/components/react/product-carousel";
import ProductCardHorizontal from "@/views/product/components/astro/product-card-horizontal.astro";

import { getHomeData } from "@/services/api";
import { env } from "@/configs/env.config";

const storeSlug = Astro.params.storeSlug || "";
const homeData = await getHomeData(storeSlug);

const store = homeData.data?.store;
const categories = homeData.data?.categories;
const recommendations = homeData.data?.recommendations;

console.log(env.BASE_API_URL, env.BASE_JWT_URL);
---

<BlankLayout>
  <main class="pb-32">
    <Container class="min-h-fit h-42.5 pb-5">
      <header class="relative">
        <div
          id="Background"
          class="absolute top-0 w-full h-42.5 rounded-b-[45px] bg-primary-gradient"
        >
        </div>
        <div id="TopNav" class="relative flex flex-col px-5 mt-5 h-42.5">
          <div class="relative flex items-center justify-between">
            <div class="flex flex-col gap-1">
              <p class="text-white text-sm">Welcome To,</p>
              <h1 class="text-white font-semibold">
                {store?.name}
              </h1>
            </div>
            <a
              href="#"
              class="w-12 h-12 flex items-center justify-center shrink-0 rounded-full overflow-hidden bg-white/20"
            >
              <Bell className="w-7 h-7" fill="#fff" stroke="#fff" />
            </a>
          </div>

          <h1 class="text-white font-semibold text-2xl leading-7.5 mt-5">
            Discover Your Favorite Meal!
          </h1>

          <div class="absolute bottom-0 left-0 right-0 w-full gap-2 px-5">
            <label
              class="flex items-center w-full rounded-full p-2 gap-3 bg-white dark:bg-foreground ring-1 ring-ring focus-within:ring-primary transition-all duration-300"
            >
              <Search className="w-8 h-8 flex shrink-0 text-primary" />
              <input
                type="text"
                name="search"
                id=""
                class="appearance-none outline-none w-full font-semibold placeholder:font-light"
                placeholder="Search menu, or etc..."
              />
            </label>
          </div>
        </div>
      </header>
    </Container>
    <Container>
      <Section id="Category" title="Explore Categories" link="#">
        <CategoryCarousel
          client:load
          categories={categories || []}
          slot="content"
        />
      </Section>

      {
        recommendations &&
          recommendations.length &&
          recommendations.map((rec) => (
            <Section
              id={rec.name}
              title={rec.name}
              link={`/${store?.name}/products`}
            >
              {rec.displayMode === "horizontal" ? (
                <ProductCarousel
                  client:load
                  products={rec.products}
                  storeSlug={storeSlug}
                  slot="content"
                />
              ) : (
                <div slot="content" class="flex flex-col gap-4 mt-2.5">
                  {rec.products.map((product) => (
                    <ProductCardHorizontal
                      product={product}
                      storeSlug={storeSlug}
                    />
                  ))}
                </div>
              )}
            </Section>
          ))
      }
    </Container>
  </main>

  <NavigationBottom activePath={storeSlug} />
</BlankLayout>
