---
import { Bell, Search } from "lucide-react";

import BlankLayout from "@/layouts/blank-layout.astro";

import Container from "@/components/astro/container.astro";
import Section from "@/components/astro/section.astro";
import NavigationBottom from "@/components/astro/navigation-bottom.astro";

import { CategoryCarousel } from "@/views/category/components/react/category-carousel";
import { ProductCarousel } from "@/views/product/components/react/product-carousel";
import ProductCardHorizontal from "@/views/product/components/astro/product-card-horizontal.astro";
import type { Store } from "@/views/store/types/store.type";
import type { Category } from "@/views/category/types/category";
import type { RecommendationWithProductList } from "@/views/recommendation/types/recommendation-type";

type Response = {
  data: {
    store: Store;
    categories: Category[];
    recommendations: RecommendationWithProductList[];
  };
};

const response: Response = {
  data: {
    store: {
      id: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
      name: "Papagesha",
      ownerId: "019b8355-8e9e-744b-91c6-302bc151225b",
      image:
        "https://ik.imagekit.io/dianerdiana/saas-food-menu/stores/Toko Milik Admin/1769007603823-Screenshot 2026-01-18 195319.jpg",
      slug: "papagesha",
      phone: "081234567821",
    },
    categories: [
      {
        id: "019be111-e281-761b-86c2-842bf90ef48e",
        storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
        name: "Chicken",
        slug: "chicken",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/chicken.png",
        description: null,
        status: "ACTIVE",
      },
      {
        id: "019be111-e282-7158-a5f5-1e7741eabd64",
        storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
        name: "Desert",
        slug: "desert",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/desert.png",
        description: null,
        status: "ACTIVE",
      },
      {
        id: "019be111-e282-7158-a5f5-234ff614e867",
        storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
        name: "Drink",
        slug: "drink",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/drink.png",
        description: null,
        status: "ACTIVE",
      },
      {
        id: "019be111-e282-7158-a5f5-27cdf0ebf1ef",
        storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
        name: "Ramen",
        slug: "ramen",
        image:
          "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/ramen.png",
        description: null,
        status: "ACTIVE",
      },
    ],
    recommendations: [
      {
        id: "019be111-e28a-74df-8fa4-b0406bafb8af",
        storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
        name: "Menu Favorite",
        displayMode: "horizontal",
        status: "ACTIVE",
        products: [
          {
            id: "019bdf75-85b8-7239-9c40-ed696716c7cf",
            storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
            name: "Ayam Geprek",
            slug: "ayam-geprek",
            image: null,
            price: 10000,
            description: null,
            status: "ACTIVE",
            categories: [
              {
                id: "019be111-e281-761b-86c2-842bf90ef48e",
                storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
                name: "Chicken",
                slug: "chicken",
                image:
                  "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/chicken.png",
                description: null,
                status: "ACTIVE",
              },
            ],
          },
          {
            id: "019bdf75-322b-7521-8328-bcaaacfa49b7",
            storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
            name: "Ramen",
            slug: "ramen",
            image: null,
            price: 10000,
            description: null,
            status: "ACTIVE",
            categories: [
              {
                id: "019be111-e282-7158-a5f5-1e7741eabd64",
                storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
                name: "Desert",
                slug: "desert",
                image:
                  "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/desert.png",
                description: null,
                status: "ACTIVE",
              },
            ],
          },
          {
            id: "019beabb-8453-749b-b78f-679f72168410",
            storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
            name: "Nano-Nano",
            slug: "nano-nano",
            image: null,
            price: 500,
            description: null,
            status: "ACTIVE",
            categories: [
              {
                id: "019be111-e282-7158-a5f5-1e7741eabd64",
                storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
                name: "Desert",
                slug: "desert",
                image:
                  "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/desert.png",
                description: null,
                status: "ACTIVE",
              },
            ],
          },
        ],
      },
      {
        id: "019be111-e28a-74df-8fa4-b591156d4fea",
        storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
        name: "Chef's Recommendation",
        displayMode: "vertical",
        status: "ACTIVE",
        products: [
          {
            id: "019bdf75-85b8-7239-9c40-ed696716c7cf",
            storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
            name: "Ayam Geprek",
            slug: "ayam-geprek",
            image: null,
            price: 10000,
            description: null,
            status: "ACTIVE",
            categories: [
              {
                id: "019be111-e281-761b-86c2-842bf90ef48e",
                storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
                name: "Chicken",
                slug: "chicken",
                image:
                  "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/chicken.png",
                description: null,
                status: "ACTIVE",
              },
            ],
          },
          {
            id: "019bdf75-322b-7521-8328-bcaaacfa49b7",
            storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
            name: "Ramen",
            slug: "ramen",
            image: null,
            price: 10000,
            description: null,
            status: "ACTIVE",
            categories: [
              {
                id: "019be111-e282-7158-a5f5-1e7741eabd64",
                storeId: "019be111-e25f-763f-a32e-d7ed7a81f3d1",
                name: "Desert",
                slug: "desert",
                image:
                  "https://ik.imagekit.io/dianerdiana/saas-food-menu/categories/default/desert.png",
                description: null,
                status: "ACTIVE",
              },
            ],
          },
        ],
      },
    ],
  },
};

const store = response.data.store;
const categories = response.data.categories;
const recommendations = response.data.recommendations;
---

<BlankLayout>
  <main class="pb-32">
    <Container class="min-h-fit h-42.5 pb-5"
      ><header class="relative">
        <div
          id="Background"
          class="absolute top-0 w-full h-42.5 rounded-b-[45px] bg-primary-gradient"
        >
        </div>
        <div id="TopNav" class="relative flex flex-col px-5 mt-5 h-42.5">
          <div class="relative flex items-center justify-between">
            <div class="flex flex-col gap-1">
              <p class="text-white text-sm">Welcome To,</p>
              <h1 class="text-white font-semibold">
                {store.name}
              </h1>
            </div>
            <a
              href="#"
              class="w-12 h-12 flex items-center justify-center shrink-0 rounded-full overflow-hidden bg-white/20"
            >
              <Bell className="w-7 h-7" fill="#fff" stroke="#fff" />
            </a>
          </div>

          <h1 class="text-white font-semibold text-2xl leading-7.5 mt-5">
            Order Delicious Meal!
          </h1>

          <div class="absolute bottom-0 left-0 right-0 w-full gap-2 px-5">
            <label
              class="flex items-center w-full rounded-full p-2 gap-3 bg-input ring-1 ring-ring focus-within:ring-primary transition-all duration-300"
            >
              <Search className="w-8 h-8 flex shrink-0 text-primary" />
              <input
                type="text"
                name="search"
                id=""
                class="appearance-none outline-none w-full font-semibold placeholder:text-ngekos-grey placeholder:font-light"
                placeholder="Search menu, or etc..."
              />
            </label>
          </div>
        </div>
      </header>
    </Container>
    <Container>
      <Section id="Category" title="Explore Categories" link="#">
        <CategoryCarousel client:load categories={categories} slot="content" />
      </Section>

      {
        recommendations &&
          recommendations.length &&
          recommendations.map((rec) => (
            <Section
              id={rec.name}
              title={rec.name}
              link={`/${store?.name}/products`}
            >
              {rec.displayMode === "horizontal" ? (
                <ProductCarousel
                  client:load
                  products={rec.products}
                  storeSlug={`/${store.slug}`}
                  slot="content"
                />
              ) : (
                <div slot="content" class="flex flex-col gap-4 mt-2.5">
                  {rec.products.map((product) => (
                    <ProductCardHorizontal
                      product={product}
                      storeSlug={`/${store.slug}`}
                    />
                  ))}
                </div>
              )}
            </Section>
          ))
      }
    </Container>
  </main>

  <NavigationBottom activePath="/" />
</BlankLayout>
